---
on:
    workflow_dispatch:
    push:
        branches:
        - main

jobs:
    iac:
        permissions:
            id-token: write
            contents: read
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: aws-actions/configure-aws-credentials@v4
              with:
                  role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
                  aws-region: ${{ secrets.AWS_REGION }}
            - name: deploy-aws-identity-pool
              id: deploy-aws-identity-pool
              uses: aws-actions/aws-cloudformation-github-deploy@v1
              with:
                  name: infra-stack
                  template: infra/aws/IdentityPool.yaml
                  no-fail-on-empty-changeset: "1"